{% extends 'base.html' %}

{% block title %}Login - Eloutfit{% endblock %}

{% block content %}
{% if messages %}
<div class="container mt-3">
</div>
{% endif %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 mb-5">
            <div class="card shadow">
                <div class="card-header bg-primary text-white">
                    <h4 class="card-title mb-0 text-center">Login</h4>
                </div>
                <div class="card-body p-4">
                    <form method="post">
                        {% csrf_token %}

                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" name="username" class="form-control" required>
                        </div>

                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" name="password" class="form-control" required>
                        </div>
                        <a href="{% url 'password_reset' %}" class="btn btn-outline-dark ms-2 mb-3">
                            <i class="bi bi-question-circle me-2"></i>Forgot Password?
                        </a>

                        <button type="submit" class="btn btn-primary w-100">Login</button>
                    </form>

                    <div class="text-center mt-3">
                        <p>Don't have an account? <a href="{% url 'register' %}">Register here</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}